.home {
  background-color: #fafafa;
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 28px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  padding: 0 28px;
  margin: 24px 0;
  text-align: center;
  background-color: #fff;

  &-item {
    padding: 16px 0;

    .iconfont {
      display: inline-block;
      width: 48px;
      height: 48px;
      padding: 18px;
      background-color: #87cefa;
      font-size: 48px;
      margin-bottom: 12px;
      border-radius: 50%;
      vertical-align: middle;
      color: #fff;
    }
  }
}
